<div class="uk-grid">

  <div class="uk-width-2-3 landing-hello uk-panel">
    <h1 id="intro-type"></h1>
  </div>

  <%= render "partials/contact" %>

</div>

<%= javascript_include_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js' %>
